{#
/**
 * @file
 * Olivero's theme override to display the header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="top_header_bar_background_container">
  <div class="top_header_bar_container">
    <div class="responsive_logo">
    <div class="my_burger_menu">
      <span class="burger-menu-slice"></span>
      <span class="burger-menu-slice"></span>
      <span class="burger-menu-slice"></span>
    </div>
      {{ elements['whitewebsitebranding'] }}
        <button class="block-search-wide__button" aria-label="{{ 'Search Form'|t }}" data-drupal-selector="block-search-wide-button">
          {% include "@olivero/../images/search.svg" %}
          <span class="block-search-wide__button-close"></span>
        </button>
    </div>
    {{ elements['slavnews_views_block__top_header_menu_header_top_bar'] }}
    {{ elements['slavnews_views_block__social_media_list_social_media_list'] }}
  </div>
</div>
<div class="header_container">
  <div class="top_middle_bar_container">
    {{ elements['slavnews_site_branding'] }}
    {{ elements['slavnews_views_block__purple_view__wide_blog_offer'] }}
  </div>
  <div class="header_menu_list">
    {{ elements['slavnews_mainpagemenu'] }}
    {#  {{ elements['slavnews_search_form_narrow'] }}#}
    <button class="block-search-wide__button" aria-label="{{ 'Search Form'|t }}" data-drupal-selector="block-search-wide-button">
      {% include "@olivero/../images/search.svg" %}
      <span class="block-search-wide__button-close"></span>
    </button>
  </div>
  <div class="header-nav-overlay" data-drupal-selector="header-nav-overlay"></div>
</div>

